html, body {
  box-sizing: content-box;
}

.box {
  border: 2px solid #000;
  padding: 10px;

  &--blue {
    border-color: blue;
  }
  &--red {
    border-color: red;
  }
  &--green {
    border-color: darkgreen;
  }
  &--orange {
    border-color: orange;
  }
  &--grey {
    border-color: grey;
  }
}
