$color_dark : #2B3136;
$color_white: #fff;
$color_red: #EC5353;
$color_grey: #A1887E;
$color_grey--dark: darken($color_grey, 10);

// Grid
$grid-gutter-width: 20px;

// fonts
$font-size-base: 18; // px
$line-height-base: 24; // px

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
